django>=4.2
django-mptt
django-parler>=2
django-parler-rest
djangorestframework
psycopg2
pytest
pytest-cov
pyyaml
requests
requests-cache
ruff==0.8.4  # Sync with .pre-commit-config.yaml
six
unicodecsv
